<% include partials/header %>
<h1>New Blog</h1>
<form action="/" method="post">
    <input type="text" placeholder="Title" name="blog[title]">
    <input type="text" placeholder="Image" name="blog[image]">
    <input type="text" placeholder="Description" name="blog[desc]">
    <button>Submit</button>
</form>
<% include partials/footer %>